*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: grey;
    color: aliceblue;
    padding: 100px 0;
    text-align: center;
}

nav {
    background-color: rgb(63, 63, 63);
    padding: 20px;
    text-align: center;
    a{
        color: aliceblue;
        text-decoration: none;
        padding:  0px 20px;
    }
}

main{
    padding: 50px;
    height: 960px;
    
    .main-container{
        background-color: #ccc;
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 30px;
        .main-title{
            text-decoration: underline;
        }
        .main-info{
            margin: 20px 0;

        }
        .main-btn{
            background-color: black;
            color: aliceblue;
            padding: 10px;
            border: 2px solid #000;
        border-radius: 30px;
            text-decoration: none;
            display: inline-block;
        }
        /* ทำreadmore */
        .readmore{
            display: none;
            
        }
        .moretext{
            max-height: 0;
            overflow: hidden;
            /* display: none; */
            /* margin-top: 10px; */
            transition: max-height 2s ease;
            
        }
        .readmore:checked ~ .moretext{
            /* display: block; */
            max-height: 70px;
            
        }
        .readmore-label{
            display: inline-block;
            margin-top: 10px;
            padding: 10px 5px;
            background-color: #007bff;
            color: white;
            border-radius: 30px;
            cursor: pointer;
            transition: background-color 1s;
            
        }
        .readmore-label:hover{
            background-color: #ff000098;
        }
    }
}

footer{
    background-color:#111 ;
    padding: 20px;
    color: aliceblue;
    text-align: center;
}